.event-page {
  font-family: Arial, sans-serif;
      max-width: 917px;
    margin: 80px auto;
  text-align: center;
}

.host-section, .services-section {
    padding: 0vh 10vh;
  margin-bottom: 50px;
}

.host-section .services-section h2 {
      color: rgb(31, 37, 58);
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 16px;
}

.host-section .services-section p {    color: rgb(31, 37, 58);
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}
.optt1 , .optt2{
    display: flex;
     justify-content: center;
}
.host-options, .service-options {
  display: flex;
 flex-direction: column;
 justify-content: center;
  flex-wrap: wrap;
}

.host-option, .service-option {
 
  margin: 16px;
      width: calc(35.3333% - 32px);
      padding: 32px 10px;
 background: rgb(236, 245, 255);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
        transition: 0.3s ease-in-out;
  text-align: center;
}
.host-option:hover, .service-option:hover {
      transform: translateY(-5px);
}

.host-option img, .service-option img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.list-show-button {
  background-color: #f05a28;
  color: #fff;
  width: 30vh;
  height: 8vh;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.list-show-button:hover {
  background-color: #d9534f;
}

